@banner-color: #ca5043;
@title-font: 'bellota';
@subtitle-font: 'bellota';
.banner{
	padding: 1%;
	background: @banner-color;
}
.banner h1,.banner h2,.banner h3{
	/*text-transform: uppercase;*/
	font-family:  @title-font;
	color: white;
}
.titulo-baner{
	margin: 0;
	padding: 0;
}